*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: white !important;
}
body{
    background-color: rgb(240, 240, 240) !important;
}
#nav-conatiner{
    padding: 0 50px;
}
#search-bar{
    width: 52%;
}
.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
}
#nav-options{
    width: 400px !important;
}
#nav-options-2{
    display: flex !important;
    justify-content: space-around !important;
    gap: 50px !important;
}
#nav-icons{
    margin-right: 10px;
}
.dropdown-menu {
    width: 250px !important;
}
.nav-link-names{
    font-size: 1.0em !important;
    color: black !important;
}
#login-button{
    transition: 0.15s ease;
    color: black !important;
}
#login-button:hover{
    background-color: rgb(24, 94, 244);
    color: white !important;
}
.navbar-toggler{
    border: none !important;
}
#flip-logo{
    width: 110px !important;
}
#menu-icon{
    font-size: 1.2em;
}
#side-menu-show-header{
    background-color: rgb(5, 105, 255);
    color: white;
}
#side-menu-show{
    display: none;
}
.f-logo{
    border-radius: 50%;
}
#nav-menu-options{
    display: block;
}

#nav-block{
    display: none !important;
    font-size: 1.0em !important;
}
#nav-down-items{
    padding: 0 50px;
}
#carousel-controls{
    background-color: white;
    color: black;
    font-size:1.8em;
    padding: 35px 20px;
    border-radius: 5px;
}
#carousel-img{
    width: 100%;
    height: 250px;
}
#curousel-indicators-icons{
    color: white !important;
    background-color: white !important;
    margin-bottom: 8px !important;
}
@media only screen and (max-width:576px){
    #nav-conatiner{
        padding: 0 15px !important;
    }
    #search-bar{
        width: 100% !important;
        margin-right: 0 !important;
    }
    #side-menu-show{
        display: block;
        width: 75% ;
    }
    #nav-down-largescreen-items{
        display: none;
    }
    #carousel-controls{
        display: none;
    }
    #carousel-img{
        width: 100%;
        height: 140px !important;
    }
    #curousel-indicators-icons{
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }
}
@media only screen and (max-width:768px){
    #search-bar{
        width: 100% !important;
    }
    #side-menu-show{
        display: block;
        width: 50% ;
    }
    #nav-down-largescreen-items{
        display: none;
    }
    #carousel-img{
        width: 100%;
        height: 200px;
    }
    #carousel-controls{
        display: none;
    }
    #curousel-indicators-icons{
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }
    
    
}
@media only screen and (max-width:992px){
    #search-bar{
        width: 100% !important;
    }
    #nav-block{
        display: flex !important;
    }
    #nav-min-size-options{
        display: none !important;
    }
    #side-menu-show{
        display: block;
        width: 50% ;
    }
    #nav-down-largescreen-items{
        display: none;
    }
    #carousel-img{
        width: 100%;
        height: 220px;
    }
    #carousel-controls{
        display: none;
    }
    #curousel-indicators-icons{
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }
}
@media only screen and (max-width:1200px){
    
    #nav-min-size-options{
        display: none !important;
    }
    #nav-down-largescreen-items{
        display: none;
    }
    #carousel-controls{
        display: none;
    }
    #curousel-indicators-icons{
        border-radius: 50%;
        width: 8px;
        height: 8px;
    }
}
@media only screen and (max-width:1400px){
    
    #nav-min-size-options{
        display: none !important;
    }
    #carousel-controls{
        display: none;
    }
}

